---
import MainLayout from "../layouts/MainLayout.astro";
import "@fontsource/pacifico";
import "@fontsource/sofia-sans";
import BlogHeader from "../components/BlogHeader.astro";
import { Blogs } from "../components/Blogs";
import Pagination from "../components/Pagination";
import { $searchQuery } from "../stores/blogstore";
---

<MainLayout>
  <div class="container">
    <BlogHeader />
    <div class="blogs">
      <Blogs client:load />
    </div>
    <Pagination client:load />
  </div>
</MainLayout>

<style>
  .container {
    min-height: 100vh;
    width: 100%;
    padding: 2rem 0;
  }

  .blogs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 35rem));
    justify-content: center;
    gap: 4rem;
    padding: 5rem 0;
  }
</style>
