---
// import german from "../assets/german.png";

interface Props {
  title: string;
  imageUrl: string;
  date: string;
  excerpt: string;
  slug: string;
  tags: {
    title: string;
  }[];
}

const { title, imageUrl, date, excerpt, tags, slug } = Astro.props;
---

<div class="blogcard">
  <a href={`/blog/${slug}`} class="img-link">
    <div class="img">
      <div class="overlay"></div>
    </div>
  </a>

  <div class="content">
    <span class="date">{new Date(date).toLocaleDateString()}</span>
    <a href={`/blog/${slug}`} class="title-link">
      <h1 class="title">{title}</h1>
    </a>
    <p class="text">
      {`${excerpt.slice(0, 150)}...`}
    </p>
    <a href="#" class="tag">{tags.map((tag) => tag.title)}</a>
  </div>
</div>

<style define:vars={{ imageUrl }}>
  .blogcard {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 50rem;
    /* width: 35rem; */
    /* transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
    } */

    & a {
      text-decoration: none;
      color: currentColor;
      transition: all 0.1s;

      &:hover {
        color: var(--tertiary-2);
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0); /* Initial opacity set to 0 */
      transition: background-color 0.3s; /* Smooth transition effect */
      /* z-index: -10; */
    }

    & .img {
      height: 20rem;
      width: 100%;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: var(--imageUrl);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s;
      }

      &:hover::before {
        transform: scale(1.1);
      }

      &:hover > .overlay {
        background-color: rgba(153, 218, 255, 0.8);
      }
    }

    & .content {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: start;
      gap: 2rem;

      & .date {
        font-size: 1.4rem;
        color: var(--dark-grey);
        font-weight: 600;
      }

      & .title {
        font-size: 2.5rem;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 600;
      }

      & .text {
        font-size: 1.6rem;
        line-height: 1.5;
      }

      & .tag {
        font-family: "Tektur";
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.1s;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: var(--primary-color);
        margin-top: auto;

        &:hover {
          color: var(--tertiary-2);
        }
      }
    }
  }
</style>
