---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import logo from "../assets/language.png";
import "@fontsource/tektur";
import Logo from "./Logo.astro";
---

<section class="footer" id="section-footer">
  <div class="container">
    <Logo size="sm" />

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#" class="nav-link" id="home">главная</a></li>
        <li class="nav-item"><a href="#" class="nav-link" id="about">обо мне</a></li>
        <li class="nav-item"><a href="#" class="nav-link" id="contacts">контакты</a></li>
        <li class="nav-item"><a href="#" class="nav-link" id="blog">блог</a></li>
      </ul>
    </nav>

    <div class="socials">
      <a href="#" class="social-link">
        <Icon name="telegram" />
      </a>
      <a href="#" class="social-link">
        <Icon name="facebook" />
      </a>
      <a href="#" class="social-link">
        <Icon name="instagram" />
      </a>
    </div>
  </div>

  <div class="copyright">
    <h4 class="terms">Terms of Use</h4>
    <h4 class="copy">
      &copy; 2024 EngTeacher. All rights reserved. Developed by <a
        href="https://github.com/kattir97"
        class="dev">Sultan Kattir</a
      >
    </h4>
  </div>
</section>

<style>
  .footer {
    padding: 2rem 0;
    border-top: 2px solid var(--light-grey-2);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    transition: color 0.2s;

    @media (max-width: 600px) {
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    & .dev {
      text-decoration: none;
      color: #333;
      font-family: "Tektur";
      font-weight: 600;
      transition: all 0.2s;
      font-size: 1.4rem;

      &:hover {
        color: var(--secondary-color-dark);
      }
    }
  }

  .nav-list {
    display: flex;
    font-family: "Tektur", "system-ui";

    & .nav-item {
      padding: 1rem;
      font-size: 1.5rem;
    }

    & .nav-link,
    &:link,
    &:visited {
      text-decoration: none;
      color: var(--dark-blue);
      font-weight: 600;

      &:hover {
        color: var(--light-blue);
      }
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  [data-icon] {
    font-size: 2.5rem;
    color: black;
    transition: all 0.2s;

    &:hover {
      color: var(--dark-blue);
    }
  }
</style>
