---
import { Image } from "astro:assets";
import logo from "../assets/language.png";
import "@fontsource/pacifico";
import Button from "./Button.astro";

type NavItem = {
  label: string;
  id: string;
};

const navItems: NavItem[] = [
  { label: "Главная", id: "home" },
  { label: "Обо мне", id: "about" },
  { label: "Контакты", id: "contacts" },
  { label: "Блог", id: "blog" },
];
---

<div class="header">
  <div class="left">
    <a href="/" class="logo-link">
      <div class="logo">
        <Image src={logo} alt="website logo" class="logo-img" />
        <span class="name">Алиса Суетнова</span>
      </div>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        {
          navItems.map((item: NavItem) => (
            <li class="nav-item">
              <a href="#" class="nav-link" id={item.id}>
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <div class="right">
    <Button
      bgColor="primary"
      classes="btn-primary"
      boxShadow="0 1rem 2rem rgba(82, 79, 213, 0.2)"
      animated
    >
      Связаться
    </Button>
  </div>
</div>

<script>
  import { scrollScript } from "../utils/scroll-script";

  scrollScript();

  // document.querySelectorAll(".nav-link").forEach((anchor) => {
  //   anchor.addEventListener("click", function (this: HTMLElement, e: Event) {
  //     e.preventDefault();

  //     const targetId = "section-" + this.id; // Construct the ID of the target section
  //     const targetSection = document.getElementById(targetId);

  //     if (targetSection) {
  //       targetSection.scrollIntoView({ behavior: "smooth" }); // Scroll smoothly to the target section
  //     }
  //   });
  // });
</script>

<style>
  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10rem;
    }

    & .right {
      & .button {
        border-radius: 1.5rem;
        padding: 1rem 2rem;
        border: none;
      }
    }
  }

  .logo-link {
    text-decoration: none;
    color: inherit;
  }

  & .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    & .logo-img {
      width: 4rem;
      height: 4rem;
    }

    & .name {
      font-size: 2rem;
      font-family: "Pacifico", cursive;
    }
  }

  & .nav {
    & .nav-list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;

      & .nav-item {
        font-size: 1.7rem;
        font-weight: 700;
        & .nav-link {
          text-decoration: none;
          color: var(--dark-blue);

          &:hover {
            color: var(--light-blue);
          }
        }
      }
    }
  }
</style>
