---
import { Image } from "astro:assets";
import logo from "../assets/language.png";
import "@fontsource/pacifico";
import Button from "./Button.astro";
---

<div class="header">
  <div class="left">
    <div class="logo">
      <Image src={logo} alt="website logo" class="logo-img" />
      <span class="name">Алиса Суетнова</span>
    </div>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Обо мне</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Контакты</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Блог</a></li>
      </ul>
    </nav>
  </div>

  <div class="right">
    <Button bgColor="primary" , boxShadow="0 1rem 2rem rgba(82, 79, 213, 0.2)" animated>
      Связаться
    </Button>
  </div>
</div>

<style>
  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10rem;
    }

    & .right {
      & .button {
        border-radius: 1.5rem;
        padding: 1rem 2rem;
        border: none;
      }
    }
  }

  & .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    & .logo-img {
      width: 4rem;
      height: 4rem;
    }

    & .name {
      font-size: 2rem;
      font-family: "Pacifico", cursive;
    }
  }

  & .nav {
    & .nav-list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;

      & .nav-item {
        font-size: 1.7rem;
        font-weight: 700;
        & .nav-link {
          text-decoration: none;
          color: var(--dark-blue);

          &:hover {
            color: var(--light-blue);
          }
        }
      }
    }
  }
</style>
