---
import { Image } from "astro:assets";
import heroImg from "../assets/hero_img.png";
import "@fontsource/tektur";
import "@fontsource/pacifico";
import Button from "./Button.astro";

const sloganArr = "учи английский легко и увлекательно!".split(" ");
const bgColors = [
  "var(--tertiary-1)",
  "var(--tertiary-2)",
  "var(--tertiary-3)",
  "var(--tertiary-4)",
  "var(--tertiary-5)",
];
---

<section class="hero" id="section-home">
  <div class="content">
    <!-- <span class="welcome">🎉 Добро пожаловать!</span> -->
    <div class="slogan">
      {
        sloganArr.map((word, idx) => {
          return (
            <span class="slogan-word" style={{ backgroundColor: bgColors[idx] }}>
              {word}
            </span>
          );
        })
      }
    </div>
    <div class="buttons">
      <Button
        size="lg"
        classes="hv-secondary hero-btn know-more"
        animated
        onclick="moveToFeatures()">Узнать больше</Button
      >
      <Button size="lg" classes="hv-primary hero-btn enroll" animated>Записаться</Button>
    </div>
  </div>

  <div class="image-box">
    <Image src={heroImg} alt="hero image" class="img" />
  </div>
</section>

<script>
  function moveToFeatures() {
    const features = document.getElementById("section-features");
    features?.scrollIntoView({ behavior: "smooth" });
  }
  function moveToContacts() {
    const features = document.getElementById("section-contacts");
    features?.scrollIntoView({ behavior: "smooth" });
  }
  const knowMoreBtn = document.querySelector(".know-more");
  const enrollBtn = document.querySelector(".enroll");
  knowMoreBtn?.addEventListener("click", () => moveToFeatures());
  enrollBtn?.addEventListener("click", () => moveToContacts());
</script>

<style define:vars={{ bgColors }}>
  .hero {
    padding: 10rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    @media (max-width: 900px) {
      padding: 5rem 0;
      justify-content: center;
      gap: 1rem;
    }

    @media (max-width: 600px) {
      padding: 5rem 0;
      justify-content: center;
      gap: 0;
    }
  }

  & .content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4rem;

    @media (max-width: 600px) {
      flex: 1;
      align-items: center;
    }

    & .welcome {
      font-size: 4rem;
      margin-bottom: 0.5rem;
    }

    & .slogan {
      font-size: 6rem;
      font-family: "Tektur", system-ui;
      font-weight: bold;
      width: 80%;
      line-height: 1.3;

      @media (max-width: 900px) {
        font-size: 4rem;
        width: 100%;
      }

      @media (max-width: 600px) {
        font-size: 3.5rem;
        width: 100%;
        text-align: center;
      }

      & .slogan-word {
        display: inline-block;
        padding: 0.25rem 0.5rem;
        margin: 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }

  & .image-box {
    flex: 0 0 50%;

    @media (max-width: 600px) {
      display: none;
      flex: 0 0 0;
    }
    & .img {
      width: 100%;
      height: 100%;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
  }
</style>
