---
import "../styles/global.css";
// Supports weights 200-900
import "@fontsource/nunito-sans";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Private Teacher</title>
  </head>
  <body>
    <div class="container">
      <Header />
      <slot />
      <Footer />
    </div>
  </body><script>
    import { scrollScript } from "../utils/scroll-script";

    scrollScript();
  </script>

  <style>
    .container {
      padding: 2rem 15rem;

      @media (max-width: 1200px) {
        padding: 2rem 7rem;
      }

      @media (max-width: 900px) {
        padding: 2rem 5rem;
      }

      @media (max-width: 600px) {
        padding: 1rem 2.5rem;
      }
    }
  </style>
</html>
